<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <div class="header">
        <h1 class="title"> GPT Oversettelse </h1>
        <button class="menubutton" onclick="location.href='{{ url_for('order') }}'">Bestill oversettelse</a> </button>
        <button class="menubutton" onclick="location.href='{{ url_for('register') }}'">Registrer deg/Logg inn</a>
        </button>
    </div>

    <div class="infotext">
        <h1> Litt om oss! </h1>
        <p> Hei! Jeg heter Geir Petter Torgersen og jeg jobber som bokoversetter. Fra denne nettsiden kan du bestille en
            bok som du vil skal oversettes fra et stort utvalg! </p>
    </div>
</body>

</html>