<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <div class="header">
        <h1 class="title"> Velkommen til GPTranslate </h1>
        <button class="menubutton" onclick="location.href='{{ url_for('order') }}'">Bestill oversettelse</a> </button>
        {% if 'user_id' not in session %}
        <button class="menubutton" onclick="location.href='{{ url_for('register') }}'">Registrer deg/Logg inn</a>
        </button>

        {% else %}
        <button class="userbutton" onclick="location.href='{{ url_for('profile', username=session['username']) }}'">
            <img src="/static/img/greypfp.png" alt="Klikkbart profilbilde" width="10%">
        </button>
        {% endif %}

        {% if 'user_id' in session %}
        <button class="menubutton" onclick="location.href='{{ url_for('logout') }}'">Logg ut</button>
        {% endif %}
    </div>

    <div class="infotext">
        <h1 class="gptittel"> Om GPTranslate! </h1>
        <p class="gptext"> Hei! Jeg heter Geir Petter Torgersen og jeg jobber som bokoversetter. Fra denne nettsiden kan
            du bestille en
            bok som du vil skal oversettes fra et stort utvalg! </p>
        <p class="gptext"> Jeg oversetter de aller fleste bøkene på mange forskjellige språk, så det er bare å bestille
            i vei!</p>
    </div>

    <div class="imgs">
        <div class="imgs">
            <img class="sunsetimg" src="/static/img/Sunset_reading.jpg" alt="A woman reading a book in the sunset"
                width="50%">
            <img class="boyimg" src="/static/img/Boy_reading.jpg" alt="A boy reading a book with sunlight in his face"
                width="50%">
        </div>
    </div>

    <div class="footer">

    </div>
</body>

</html>