<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <div class="header">
        <h1 class="title"> Geir Petter Torgersen oversetter! </h1>
        <button onclick="location.href='{{ url_for('order') }}'">Bestill oversettelse</a> </button>
    </div>

    <div class="login">
        <p> </p>
    </div>


</body>

</html>