<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <div class="header">
        <h1 class="title"> Bestill Oversettelse </h1>
        <button class="menubutton" onclick="location.href='{{ url_for('home') }}'">Gå tilbake til hjemsiden</a>
        </button>
        <button class="menubutton" onclick="location.href='{{ url_for('register') }}'">Registrer deg/Logg inn</a>
    </div>


    <div>
        <h1> Trending 🔥 </h1>
    </div>
    <div class="book-container">
        <div class="book-card"
            onclick="showPopup('1984 er en fremtidsroman av George Orwell, først utgitt i 1949. Boken er satt i et dystopisk Storbritannia i 1984, som er innlemmet i supermakten Oceania og preget av konstant krigføring, masseovervåkning og omfattende menneskerettighetsbrudd. Handlingen følger Winston Smiths liv som en partiarbeider og hemmelig motstandsmann i Oceania, og hans forbudte forhold med medarbeideren Julia. Romanen utforsker temaer som konsekvenser av statlig undertrykkelse og masseovervåkning.')">
            <img src="/static/img/1984_Book.jpg" alt="The book 1984 made by George Orwell" class="book-image">
            <div class="book-title">1984</div>
        </div>

        <div class="book-card"
            onclick="showPopup('Vindens skygge (originalt La sombra del viento) er en roman fra 2001, skrevet av den spanske forfatteren Carlos Ruiz Zafón. Boken ble en internasjonal bestselger, oversatt til 30 språk og lansert i over 40 land. Boken ble lansert på norsk for første gang i 2004, og har solgt i over 200 000 eksemplarer i Norge.')">
            <img src="/static/img/theshadowofthewind.jpg" alt="The book the Shadow of the Wind" class="book-image">
            <div class="book-title">The Shadow of the Wind</div>
        </div>

        <div class="book-card"
            onclick="showPopup('Drep ikke en sangfugl (originaltittel To Kill a Mockingbird) er en roman fra 1960 skrevet av Harper Lee. Romanen vant Pulitzerprisen i 1961, og den ble filmatisert i 1962 og fikk tre Oscar-priser, blant annet for beste mannlige hovedrolle med Gregory Peck. Romanen regnes som en moderne amerikansk klassiker. Handlingen og romanfigurene er løst basert på forfatterens familie og naboer, samt en hendelse som skjedde i nærheten av hennes hjemby da hun var i tiårsalderen.')">
            <img src="/static/img/Tokillamockingbird.jpg" alt="The book to kill a mockingbird" class="book-image">
            <div class="book-title">To Kill a Mockingbird</div>
        </div>

        <div class="overlay" id="overlay" onclick="closePopup()"></div>
        <div class="popup" id="popup">
            <div class="popup-header" id="popup-title"></div>
            <div class="popup-body" id="popup-body"></div>
            <div class="popup-close" onclick="closePopup()">Lukk</div>
        </div>
    </div>
    <script src="/static/script.js"></script>
</body>

</html>