<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="header">
        <h1 class="title"> Velkommen, {{ user[1] }} </h1>
        <button class="menubutton" onclick="location.href='{{ url_for('home') }}'">Gå tilbake til hjemsiden</a>
            <button class="menubutton" onclick="location.href='{{ url_for('order') }}'">Bestill oversettelse</a>
            </button>
    </div>

    <h2> Dine bestillinger: </h2>
    {% if orders %}
    <ul>
        {% for order in orders %}
        <li> {{ order[0] }} (Bestilt av: {{ order[1] }})</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Du har ikke bestilt noen bøker ennå.</p>
    {% endif %}
</body>

</html>